@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100vh;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



main {
    min-width: 320px;
    max-width: 1024px;
    display: flex;
    height: 50vh;
    flex: auto;
    justify-content: center;
    flex-direction: column;
    /* padding: 35vh; */
    align-self: center;
    gap: 40px;
}

.titulo{
    width: 350px;
    height: 50px;
    display: flex;
    border: none;
}

.titulo>p {
    display: block;
    font-size: 2em;
    text-align: right;
}

.formulario {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    width: 350px;
    min-width: 350px;
    height: 100vh;
    gap: 20px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 30px;
    border: none;
}



.input {
    border: solid black 2px;
    width: 100%;
    height: 40px;
}

.select {
    border: solid black 2px;
    width: 100%;
    height: 40px;
}

.textarea {
    border: solid black 2px;
    width: 100%;
    height: 150px;
}

.entrar {
    background-color: #1CD1B0;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 23px;
}

.registrar{
    background-color: #1CD1B0;
    width: 47%;
    height: 30px;
    border: none;
    border-radius: 23px;

}
.limpar{
    background-color: #888888;
    width: 47%;
    height: 30px;
    border: none;
    border-radius: 23px;
}



.top {
    display: flex;
    align-items: center;
    background-color: #1CD1B0;
    width: 100%;
    height: 20px;
    font-size: 15px;
    padding-left: 30px;
    color: #333333;
}


header {
    display: flex;
    flex-direction: column;
    background-color: #00669F;
    width: 100%;
    height: 60px;
    font-style: normal;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
}

h1 {
    padding-left: 30px;
    font-weight: 400;
    font-size: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #00669F;
    color: #FFF9F9;
    width: 100%;
    min-height: 40px;
    position: fixed;
    bottom: 0vh;
}

.direitos {
    font-size: 15px;
    width: 100%;
    /* line-height: 20px; */
}

#github {
    width: 100px;
    padding-right: 30px;
}


/* Viewport Tablet */
@media (min-width: 1024px) {
    main {
        gap: 80px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}

/* Viewport Laptop */
@media (min-width: 1025px) {
    main {
        gap: 80px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Viewport Desktop */
@media (min-width: 1436px) {
    main {
        max-width: 1920px;
        gap: 40px;
        flex-wrap: nowrap;
        justify-content: center;
    }
}